<div class="footer">
    <!--
	<p jhiTranslate="footer">This is your NEW footer. Or even this one</p>
	-->
	<p>
	
		<span id="footer-copyright" class="footer-copyright">
			<a href="https://www.trustvip.com/" target="_blank">&copy; 2018 Visionary Integration Professionals</a>
		</span>
		
		<span id="footer-contacts" class="footer-contacts"> 
			<a href="mailto:VIP_PQVP_Support@trustvip.com?Subject=Knowledge%20Management%20Tool%20Support%20Inquiry" target="_top">Contact Us</a>
		</span>
	</p>
	
	<img class="footer-img-logo" src="../../../content/images/cdt-logo-slogan.png" alt="Footer Organization Title">
</div>


