
<div *ngIf="article">
    <h2><span jhiTranslate="vipAdpqApp.article.detail.title">Article</span> {{article.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="vipAdpqApp.article.articleName">Article Name</span></dt>
        <dd>
            <span>{{article.articleName}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.publishDate">Publish Date</span></dt>
        <dd>
            <span>{{article.publishDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.content">Content</span></dt>
        <dd>
            <span>{{article.content}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'vipAdpqApp.ArticleType.' + article.type}}">{{article.type}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'vipAdpqApp.ArticleStatus.' + article.status}}">{{article.status}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.createdBy">Created By</span></dt>
        <dd>
            <span>{{article.createdBy}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.createdOn">Created On</span></dt>
        <dd>
            <span>{{article.createdOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.modifiedBy">Modified By</span></dt>
        <dd>
            <span>{{article.modifiedBy}}</span>
        </dd>
        <dt><span jhiTranslate="vipAdpqApp.article.modifiedOn">Modified On</span></dt>
        <dd>
            <span>{{article.modifiedOn | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Related Documents</span></dt>        
          <dd>
          <li *ngFor="let document of article.docList">
             <a (click)="openFile(document.docFileContentType, document.docFile)">{{document.docName}} (Click to Open)</a>
          </li>
          </dd>
          
          <dt><span>Rate this article! (Click Edit)</span></dt>        
          <dd>
          <p-rating [(ngModel)]="article.rating" readonly='true'></p-rating>
          </dd>
       
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_AUTHOR']" type="button"
            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
