<div>
    <h2>
        <span jhiTranslate="vipAdpqApp.relatedDocument.home.title">Related Documents</span>
        <button *jhiHasAnyAuthority="['ROLE_AUTHOR']"  class="btn btn-primary float-right jh-create-entity create-related-document" [routerLink]="['/', { outlets: { popup: ['related-document-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="vipAdpqApp.relatedDocument.home.createLabel">
            Create new Related Document
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'vipAdpqApp.relatedDocument.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="relatedDocuments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docName"><span jhiTranslate="vipAdpqApp.relatedDocument.docName">Doc Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="docFile"><span jhiTranslate="vipAdpqApp.relatedDocument.docFile">Doc File</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="articleArticleName"><span jhiTranslate="vipAdpqApp.relatedDocument.article">Article</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let relatedDocument of relatedDocuments ;trackBy: trackId">
                <td><a [routerLink]="['../related-document', relatedDocument.id ]">{{relatedDocument.id}}</a></td>
                <td>{{relatedDocument.docName}}</td>
                <td>
                    <a *ngIf="relatedDocument.docFile" (click)="openFile(relatedDocument.docFileContentType, relatedDocument.docFile)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="relatedDocument.docFile">{{relatedDocument.docFileContentType}}, {{byteSize(relatedDocument.docFile)}}</span>
                </td>
                <td>
                    <div *ngIf="relatedDocument.articleId">
                        <a [routerLink]="['../article', relatedDocument.articleId  ]" >{{relatedDocument.articleArticleName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../related-document', relatedDocument.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'related-document/'+ relatedDocument.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'related-document/'+ relatedDocument.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="relatedDocuments && relatedDocuments.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
